<section class="d-flex my-5 w-100 position-relative flex-wrap">
    <div class="shadowDiv position-absolute top-0 start-0 w-100 h-100"></div>
    <article class="py-4 px-5 h-100 position-relative z-3 w-50 flex-wrap d-flex align-items-center justify-content-start text-center">
        <div class="headingText">
            <h4 class="fs-2 fw-bolder text-white">About Us</h4>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an 
            </p>
            <figure>
                <img src="./assets/about/about 2.png" alt="about" class="w-50 mt-4 rounded-3">
            </figure>
        </div>
        <button type="button" class="btn btn-warning text-white mt-3 px-5 py-2 rounded-5 ms-auto" (click)="helpMe()">Help Me</button>
    </article>
    <article
        class="py-4 px-5 whereArticle position-relative z-3 w-50 d-flex align-items-center justify-content-end text-center">
        <div class="headingText">
            <h4 class="fs-2 fw-bolder text-white">Where</h4>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
                release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
        </div>
    </article>

</section>