<section>
    <article class="position-relative">
        <figure class="position-relative z-1">
            <img src="./assets/landing/landing.jpeg" alt="round rock" class="w-100">
        </figure>

        <div class="
                    title position-absolute top-0 
                    start-0 ms-lg-5 z-3 w-100 h-100 d-flex flex-column gap-lg-4 gap-md-3 gap-1 align-items-center">
            
            <div class="d-flex align-items-baseline gap-4">
                <i class="fa-solid fa-truck"></i>
                <div class="title-content">
                    <p class="mb-0 round">Round Rock</p>
                    <p class="mb-0">Trush Hauling</p>
                </div>
            </div>

            <div>
                <button class="btn btn-primary expert">Experts</button>
            </div>

            <div class="intro d-flex flex-column align-items-center">
                <p class="mainIntro d-flex flex-column align-items-center mb-0">
                    <span class="fw-lighter">Lorem</span>
                    <span class="fw-bolder">Lorem lorem</span>
                </p>
                <p class="mainText">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the
                </p>
                <button class="btn btn-primary help rounded-5" type="button" (click)="helpMe()">Help Me</button>
            </div>
        </div>
    </article>
</section>